services:
  database:
    image: "postgres:17"
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ${PWD}/db-data/:/var/lib/postgresql/data/
      - ${PWD}/chingu_init.sql:/docker-entrypoint-initdb.d/init.sql
